*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
    height: 200vh;
}

.container{
    text-align: center;
    width: 1190px;
}

ul{
    list-style: none;
}

.shopee-header{
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgb(243, 57, 43), rgb(238, 113, 54));
    color: whitesmoke;
    font-size: 13px;
}
.shopee-header a{
    text-decoration: none;
    color: whitesmoke;
}

.shopee-header a:hover{
    text-decoration: none;
    color: rgb(252, 137, 117);
}

.divider{
    width: 2px;
    background-color: rgba(248, 150, 105, 0.685);
}

.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.top-left{
    display: flex;
    gap: 8px;
}

.top-left li{
    display: flex;       /* Biến thẻ a thành flex container */
    align-items: center;
    gap: 5px;
}

.top-left .icon {
    vertical-align: middle;
}


.top-right{
    display: flex;
    align-items: center;
    gap: 12px;
}

.top-right li a {
    display: flex;       /* Biến thẻ a thành flex container */
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 2px;
}

.top-right .icon {
    vertical-align: middle;
}

.top-right img {
    width: 20px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid rgb(240, 49, 24);
}

.bottom-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-center{
    width: 870px;

}

.bottom-center ul{
    display: flex;
    gap: 15px;
    font-size: 12px;
}

.search{
    display: flex;
    width: 100%;
    background: white;
    border-radius: 2px;
    padding: 3px;
    gap: 2px;
    margin: 3px;
    margin-bottom: 6px;
}

.search input{
    flex: 1;
    padding: 10px 12px;
    border: none;
    border-radius: 2px;
}

.btn-search{
    width: 60px;
    background-color: rgb(235, 96, 53);
    border: none;
    border-radius: 2px;
}

.btn-search svg{
    width: 16px;
    color: white;
}

.cart{
    position: relative;
}

.cart-number{
    position: absolute;
    background-color: whitesmoke;
    width: 28px;
    border-radius: 13px;
    border: 1px solid rgb(240, 49, 24);
    color: rgb(235, 96, 53);
    right: 0px;
}

.nohover a:hover{
    color: inherit;
}

.icon {
    width: 19px;
    height: 19px;
}

.cart-icon{
    width: 48px;
    height: 48px;
}

.logo{
    width: 145px;
    height: auto;
}

.main-container{
    background-color: #f4f4f4;
}

.section1{
    background-color: white;
}
.container-section1{
    width: 1200px;
    margin: auto;
    padding-top: 30px;
}

.container-section2{
    width: 1200px;
    margin: auto;
}

.banner-section{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.banner-right{
    display: flex;
    flex-direction: column;
    gap: 5px;
}